@charset "UTF-8";


/*Telas pequenas / Mobile */
@media (max-width: 768px) {

  .menu {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding-right: 20px;
  }

  .cabecalho {
    padding-top: 60px;
    text-align: center;
  }

  .cumprimento,
  .meu-nome,
  .dev {
    font-size: 1.2rem;
  }

  .icons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .sobre {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .sobre-titulo {
    padding-right: 0;
    margin-bottom: 10px;
  }

  .foto-perfil {
    width: 150px;
    height: 150px;
  }

  .sobre-textos h1 {
    font-size: 1.5rem;
  }

  .projetos-caixa {
    width: 100%;
  }

  .projetos-card {
    flex-direction: column;
    min-height: auto;
  }

  .projetos-imagem {
    width: 100%;
    height: auto;
  }

  .links-container {
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
    align-items: center;
  }

  .container-skills {
    padding: 1rem;
  }

  .skills-titulo {
    font-size: 1.4rem;
    margin: 40px 0 20px;
  }

  .logo-item,
  .logo-items {
    width: 100px;
  }

  .logo-item img,
  .logo-items img {
    width: 60px;
    height: auto;
  }

  .logo-items p,
  .logo-item p {
    font-size: 0.8rem;
    margin-top: 10px;
  }

  .contato-container {
    width: 90%;
    padding: 1rem;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  button {
    width: 100%;
    margin-left: 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer-info h1 {
    font-size: 1rem;
  }

  .sobre-titulo-footer {
    font-size: 0.8rem;
  }

  .footer-links img {
    width: 24px;
    height: 24px;
  }
}
