@charset "UTF-8";


/*Telas pequenas / Mobile */
@media (min-width: 285px) and (max-width: 768px) {

 
    .body {
        min-width: 285px;
        max-width: 768px;
    }

    .navegador {
    position: fixed;
    top: 0; /*garante ele sempre ficar no topo*/
   }

   .menu-link {
    color: #f0f0f0;
   }

    .menu {
        display: flex;
        justify-content: right;
        list-style: none;
        gap: 3rem;
        padding-right: 40px;
    }

   .cabecalho {
    height: 768px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--cor-titulo);
}

   .dev {
        font-size: 2rem;
        margin-top: 20px;
    }

    .cumprimento {
        font-size: 1rem;
        font-weight: normal;
    }

    .meu-nome {
        font-size: 2rem;
        font-weight: normal;
}
}