@charset "UTF-8";


/*Telas pequenas / Mobile */
@media (max-width: 768px) {

  body {
    font-size: 16px;
    padding: 10px;
  }

  .navegador {
    height: auto;
  }

  .navegador .menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .menu-link {
    font-size: 16px;
    padding: 8px;
  }

  .dev {
        font-size: 2rem;
        margin-top: 20px;
  }

  .cumprimento {
        font-size: 1rem;
        font-weight: normal;
  }

  .meu-nome {
        font-size: 2rem;
        font-weight: normal;
  }

}
